.cursor {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    z-index: 10;
    top: 0;
    background-color: violet;
    border-radius: 100%;
    pointer-events: none;
}