// .work {
//     display: grid;
//     height: 90vh;
//     // margin-bottom: 62px;
//     // @media screen and (max-width: $mobile-large) {
//     //   grid-template-columns: 1fr;
//     // }

//     .work-item-1,
//     .work-item-2,
//     .work-item-3 {
//       display: grid;
//     }

//     .floating-image {
//       display: block;
//       pointer-events: none;
//       width: 50%;
//       height: 50%;
//       position: absolute;
//       overflow: hidden;

//       @media screen and (max-width: $tablet-small) {
//         height: 250px;
//         width: 350px;
//       }
//     }

//     .items {
//       display: grid;
//     //   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//       gap: 6px;

//       svg {
//         // height: 250px; temp disable
//         width: 250px;
//         display: grid;
//         justify-self: center;

//         @media screen and (max-width: $desktop-small) {
//           height: 150px;
//           width: 150px;
//         }
//       }
//       .title {
//         h4 {
//           display: flex;
//           align-items: flex-end;
//           line-clamp: 1;
//         }
//         .desc {

//         }
//       }
//     }
//   }

// `Work new

.floating-image {
  position: absolute;
  pointer-events: none;
  // opacity: 0;
  z-index: 99;
}

.work-items {
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  li {
    padding-bottom: 30px;
    &:nth-child(1) {
      .left {
        &:before,
        &:after {
          content: none;
        }
      }
    }
    &:nth-child(2) {
      .line {
        &.left {
          visibility: hidden;
        }
      }
    }
    &:nth-child(3) {
      .line {
        &.left {
          visibility: hidden;
        }
      }
    }
  }

  // &:nth-child(3) {
  //   .left {
  //     &:before,
  //     &:after {
  //       content: none;
  //     }
  //   }
  // }

  .title {
    margin: 0;
    overflow: hidden;
    padding: 10px 15px 10px;
    z-index: 10;

    span {
      display: inline-block;
      // transform: translateY(50px);
    }
  }

  .line {
    position: relative;
    height: 2px;
    width: 100%;
    background: black;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background: $black;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .mask {
    background: $light-grey;
    width: 90%;
    height: 6px;
    position: absolute;
    top: -2px;
    z-index: 9;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }
}

@media (min-width: $tablet-medium) {
  .work-items {
    a {
      flex-direction: row;
      align-items: flex-end;
    }
    li {
      &:nth-child(1) {
        .left {
          flex: 0;
        }
        &:before,
        &:after {
          content: none;
        }

        .line {
          background: green;
        }
      }

      &:nth-child(2) {
        .left {
          flex: 1.6;
        }

        .right {
          flex: 0.4;
        }
        .line {
          background: orange;

          &.left {
            visibility: visible;
          }
        }
      }

      &:nth-child(3) {
        .left {
          flex: 0.2;
        }
        .line {
          background: blue;

          &.left {
            visibility: visible;
          }
        }
      }
    }

    .title {
      padding: 0 15px 0;
    }

    .line {
      flex: 1;
      margin-bottom: 15px;
      background: red;
    }

    .left {
      display: inline-block;

      &:before {
        content: none;
      }
    }

    .right {
      &:after {
        content: none;
      }
    }
  }
}

@media (min-width: $desktop-small) {
  .work-items {
    padding: 0 10%;
  }
}
