

.work-items {
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  li {
    padding-bottom: 30px;
    &:nth-child(1) {
      h2 {
        padding-top: 30px;
      }
      .left {
        &:before,
        &:after {
          content: none;
        }
      }
    }
    &:nth-child(2) {
      .line {
        &.left {
          visibility: hidden;
        }
      }
    }
    &:nth-child(3) {
      .line {
        &.left {
          visibility: hidden;
        }
      }
    }
  }

  // &:nth-child(3) {
  //   .left {
  //     &:before,
  //     &:after {
  //       content: none;
  //     }
  //   }
  // }

  .text {
    margin: 0;
    overflow: hidden;
    padding: 10px 15px 10px;
    z-index: 10;
    &:hover {
      -webkit-text-fill-color: $light-grey;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $black;
    }

    span {
      display: inline-block;
      // transform: translateY(50px);
      &:hover {
        -webkit-text-fill-color: $light-grey;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
      }
    }
  }

  .line {
    position: relative;
    height: 4px;
    // width: 100%;
    background: black;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: -3px;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: $black;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .mask {
    background: $light-grey;
    width: 90%;
    height: 6px;
    position: absolute;
    top: -2px;
    z-index: 9;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }
}

@media (min-width: $tablet-medium) {
  .work-items {
    a {
      flex-direction: row;
      align-items: flex-end;
    }
    li {
      &:nth-child(1) {
        .left {
          flex: 0;
        }
        &:before,
        &:after {
          content: none;
        }

        .line {
          background: $special-blue;
          &:before,
          &:after {
            background: $special-blue;
          }
        }
      }

      &:nth-child(2) {
        .left {
          flex: 1.6;
        }

        .right {
          flex: 0.4;
        }

        .line {
          background: $special-light-blue;

          &.left {
            visibility: visible;
          }

          &:before,
          &:after {
            background: $special-light-blue;
          }
        }
      }

      &:nth-child(3) {
        .left {
          flex: 0.2;
        }
        .line {
          background: $special-purple;

          &:before,
          &:after {
            background: $special-purple;
          }

          &.left {
            visibility: visible;
          }
        }
      }
    }

    .title {
      padding: 0 15px 0;
    }

    .line {
      flex: 1;
      margin-bottom: 15px;
      background: red;
    }

    .left {
      display: inline-block;

      &:before {
        content: none;
      }
    }

    .right {
      &:after {
        content: none;
      }
    }
  }
}

@media (min-width: $desktop-small) {
  .work-items {
    padding: 0 10%;
  }
}
