@import "./variables.scss";
@import "../styles/base/reset.scss";
@import "../styles/base/base.scss";
@import "../styles/base/fonts.scss";
@import "../styles/base/typography.scss";

//Pages
@import "../styles/pages/case-1.scss";
@import "../styles/pages/case-2.scss";

//Components
@import "../styles/components/work.scss";
@import "../styles/components/layout.scss";
@import "../styles/components/custom_cursor.scss";
@import "../styles/components/about.scss";
@import "../styles/components/case-footer.scss";
@import "../styles/components/social.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: $light-grey;
}

.grid-container {
  z-index: 10;
  padding: 0 2%;
  margin-top: 92px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fit, 100px);
  gap: 0px 0px;
  grid-template-areas:
    "first-name first-name first-name . . ."
    ". last-name last-name last-name . ."
    " . . . dev dev dev "
    " . . . ux ux ux "
    " . subtitle subtitle subtitle  subtitle . "
    "scroll . . . . .";

  @media screen and (max-width: $tablet-small) {
    grid-template-rows: repeat(auto-fit, 55px);
    grid-template-areas:
      "first-name first-name first-name . . . "
      ". last-name last-name . . ."
      " dev dev dev . . . "
      " . . ux ux ux . "
      " . subtitle subtitle subtitle  subtitle ."
      " scroll . . . . . ";
  }
}

.first-name {
  grid-area: first-name;
  height: 2px;
  z-index: 9;
  pointer-events: none;
  // font-size: 2em;
}

.subtitle {
  grid-area: subtitle;
}

.last-name {
  grid-area: last-name;
  z-index: 9;
}

.ux {
  pointer-events: none;
  grid-area: ux;
  color: $black;
  z-index: 9;
}

.dev {
  grid-area: dev;
  z-index: 9;
}

.scroll {
  grid-area: scroll;
  position: relative;
  width: 0;
  height: 0;
  transform: rotate(-90deg);
  top: 80%;
  // transform-origin: left;
  // margin-left: 10%;
  font-weight: 700;

  img {
    transform: rotate(-90deg);
    position: relative;
    margin: 0;
  }
}

.span-name,
.span-ux,
.span-dev {
  display: flex;
}

// .name {
//   display: grid;
//   place-content: start;
//   grid-column: 1 / -1;
//   grid-row: 2;
//   z-index: 10;
//   grid-template-columns: repeat(auto-fill, 155px);
//   pointer-events: none;
//   font-size: 3em;
// }

// .prof-1 {
//   display: grid;
//   grid-column: 1/4;
//   place-content: start;
//   grid-row: 4;
//   // grid-template-columns: repeat(2, 1fr);
// }

// .prof-2 {
//   display: grid;
//   grid-column: 1/12;
//   place-content: start;
//   grid-row: 5;

//   .span-prof-2 {
//     display: inline-flex;
//     flex-wrap: wrap;
//   }
// }
//to add padding after End
// .span-prof-1,
// .span-prof-2 {
//   font-size: 86px;
//   font-family: Mint Grotesk;
//   font-weight: 900;
//   display: inline-flex;
//   position: relative;
//   // flex-wrap: wrap;
//   @media screen and (max-width: $desktop-medium) {
//     font-size: 60px;
//     line-height: 64px;
//   }

//   @media screen and (max-width: $tablet-medium) {
//     font-size: 52px;
//     line-height: 56px;
//   }

//   @media screen and (max-width: $mobile-large) {
//     font-size: 40px;
//     line-height: 44px;
//   }
// }

// .sub-title {
//   z-index: 1;
// }

.frame-group,
header {
  // position: relative;
  opacity: 0;
  animation: CellAnimation;
  animation-duration: 1.6s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  // height: 100%;
  // width: 100%;
  // max-width: 100%;
  // color: #a499dc;
}

@keyframes CellAnimation {
  0% {
    opacity: 0;
    // transform: translateY(0px);
  }
  100% {
    opacity: 1;
    // transform: (50px);
  }
}

.frame-group {
  z-index: -11;
}

// .banner {
//   width: 100%;;
//   display: grid;
//   align-items: center;
//   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
// }

//Work Section

.music {
  display: grid;
  height: 100vh;
}
