@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-regular-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-regular-webfont.woff2') format('woff2');
        font-weight: 300;
}
@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-medium-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-medium-webfont.woff2') format('woff2');
        font-weight: 400;
}

@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-bold-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-bold-webfont.woff2') format('woff2');
        font-weight: 700;
}
@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-extrabold-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-extrabold-webfont.woff2') format('woff2');
        font-weight: 800;
}
@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-heavy-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-heavy-webfont.woff2') format('woff2');
        weight: 800;
}
@font-face {
    font-family: 'Mint Grotesk';
    src : 
        url('../../static/font/mintgrotesktrialv0.7-black-webfont.woff') format('woff'),
        url('../../static/font/mintgrotesktrialv0.7-black-webfont.woff2') format('woff2');
        weight: 900;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src : 
        url('../../static/font/ibmplexsans-medium-webfont.woff') format('woff'),
        url('../../static/font/ibmplexsans-medium-webfont.woff') format('woff2');
        font-weight: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src : 
        url('../../static/font/ibmplexsans-regular-webfont.woff') format('woff'),
        url('../../static/font/ibmplexsans-regular-webfont.woff') format('woff2');
        font-weight: normal;
}